/* pulse animation*/

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    60% {
      transform: scale3d(1.06, 1.06, 1.06);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
}


@keyframes pulselow {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.02, 1.02, 1.02);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
}

/*image overlay */

